{%- assign t = site.data.i18n[page.lang] | default: site.data.i18n['es-AR'] -%}
<footer class="site-footer py-5">
  <div class="container px-4 px-lg-5">
    <div class="row g-4 align-items-start">
      <div class="col-md-7">
        <div class="text-white fw-semibold">Sucesiones Córdoba</div>
        <div class="text-white-50 small">
          {{ t.footer_attention }}<br>
          {{ t.footer_professionals }}: <em>Pablo Jorge Arias Visconti (M.P. 1-43613)</em> · <em>Gustavo Javier Marchetti (M.P. 1-43760)</em><br>WhatsApp: <a class="link-light" href="{{ site.contact.whatsapp_url }}" target="_blank" rel="noopener"><em>{{ site.contact.phone_display }}</em></a> · Email: <a class="link-light" href="{{ site.contact.email_url }}"><em>{{ site.contact.email }}</em></a>
        </div>
      </div>
      <div class="col-md-5 text-md-end">
        <a class="link-light small" href="{% if page.translation_key %}{{ page.url }}{% else %}/declaratoria-de-herederos-online-cordoba/{% endif %}">{{ t.footer_exterior }}</a><br>
        <a class="link-light small" href="/politica-de-privacidad/">{{ t.footer_privacy }}</a><br>
        <span class="text-white-50 small">{{ t.footer_disclaimer }}</span>
      </div>
    </div>
  </div>
</footer>

